{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Our Ebay Store</h1>
      <hr>

    <h1>Search For User</h1>
    <form action="" method="post" novalidate>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>

    <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>

        <p>
    <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

<p><a href={{ url_for('signup') }}> Click here to sign up</a></p>


    </div>
  </div>
</div>


{% endblock %}