
{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

        <h1><a href={{ url_for("index") }}>Back To Our Ebay Store</a></h1>

    <h2>Sign up or delete account</h2>
      <hr>

        {% block content %}
    <form action="" method="post" novalidate>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>

    <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>

    <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
<p>{{ form.action()}}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

    </div>
  </div>
</div>
{% endblock %}