{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">

        <h1><a href={{ url_for("index") }}>Back To Our Ebay Store</a></h1>
<br>
    <h2>About us</h2>
        <br><br>
        <p> We are a charity store website making donation easy for everyone. We do the hard work of vetting through charities and making sure they are valid and charitable.
            Users can then just browse for their favorite charities, and pay for different donation tiers. <br> <br>

            The different donation tiers offer different membership benefits for each charity. Select the amount that's right for you, and check out easily right from the front page!
        </p>
{% endblock %}