<html>
 <head>
 </head>
 <body style = "font-size: 30px">
        <h1>Reviews of {{product_name}}</h1>
        <h1><a href={{ url_for("index") }}>Back To Our Ebay Store</a></h1>
        {% for r in rev %}
        <p><b>{{r["name"]}}</b><i> on {{r["datetime"]}}:</i> {{r["comment"]}}</p>
            {% for res in r["responses"] %}
                <p style = "padding-left: 15px;">>>><b>{{res["name"]}}</b><i> replies on {{res["datetime"]}}:</i> {{res["response"]}}</p>
            {% endfor %}
            <p>Write a reply to <b>{{r["name"]}}</b>:</p>
            <form action="{{ url_for('reviews_response', product_no = product_no, product_name = product_name, comment_id = r['comment_id'])  }}", method="post">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="comment">Reply:</label><br>
                <input type="text" id="response" name="response"><br><br>
                <input type="submit" value="Submit">
            </form> 
        {% endfor %}
        <p>Write a new comment:</p>
        <form action="{{ url_for('reviews', product_no = product_no, product_name = product_name)  }}", method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment"><br><br>
            <input type="submit" value="Submit">
        </form> 
    
 </body>
</html>