<html>
 <head>
    <link rel="stylesheet" type="text/css" href="/static/reviews.css">
 </head>
 <body>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-comment">
                    <h3 class="text-success">Reviews of {{product_name}}</h3>
                    <h4><a href={{ url_for("index") }}>Back To Our Ebay Store</a></h4>
                    {% for r in rev %}
                    <ul class="comments">
                        <li class="clearfix">
                            <div class="post-comments">
                                <p class="meta"><a href="#">{{r["name"]}}</a> on {{r["datetime"]}}: </p> <p>{{r["comment"]}}</p>
                            </div>
                            <ul class="comments">
                                {% for res in r["responses"] %}
                                <li class="clearfix">
                                    <div class="post-comments">
                                        <p class="meta"><a href="#">{{res["name"]}}</a> replies on {{res["datetime"]}}:</p> <p>{{res["response"]}}</p>
                                    </div>
                                    
                                </li>
                                {% endfor %}
                                <li class="clearfix">
                                    <div class="post-comments">
                                        <form action="{{ url_for('reviews_response', product_no = product_no, product_name = product_name, comment_id = r['comment_id'])  }}", method="post">
                                            <input type="text" id="name" name="name" placeholder="Your name"><br>
                                            <input type="textarea" id="response" name="response" placeholder="Write a reply..."><br><br>
                                            <input type="submit" value="Post">
                                        </form> 
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                    {% endfor %}
                    <li class="clearfix">
                        <div class="post-comments">
                            <p>Write a new comment:</p>
                            <form action="{{ url_for('reviews', product_no = product_no, product_name = product_name)  }}", method="post">
                                <input type="text" id="name" name="name" placeholder="Your name"><br>
                                <input type="textarea" id="comment" name="comment" placeholder="Write a comment..."><br><br>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
    
 </body>
</html>