{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">

        <h1><a href={{ url_for("index") }}>Back To Our Ebay Store</a></h1>
      <hr>

    <h2>Apply to become a seller!</h2>
    <form action="" method="post">
        <p>
            {{ form.charity_name.label }}<br>
            {{ form.charity_name(size=32) }}
        </p>

    <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

    </div>
  </div>
</div>

{% endblock %}